<div class="col mb-4">
  <div class="card h-100">
    <div class="row no-gutters">
      {% if project.img %}
        <div class="col-md-4 d-flex justify-content-center align-items-center p-0">
          {%
            include figure.liquid loading="lazy"
            path=project.img sizes="(min-width: 768px) 156px, 50vw"
            alt="project thumbnail"
            class="card-img mb-0"
          %}
        </div>
      {% endif %}

      <div class="{% if project.img %}col-md-8{% else %}col-md-12{% endif %}">
        <div class="card-body" style="min-height: 140px;">
          <p class="card-title h5 font-weight-bold mb-2">
            {{ project.title }}
          </p>
          <p class="card-text">{{ project.description }}</p>

          <div class=" d-flex flex-wrap align-items-center ml-1 mr-1">
            <!-- Read More button -->
            <a
              href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}"
              class="btn"
            >
              Read More
            </a>
            {% if project.github %}
              <div class="github-icon">
                <div
                  class="icon"
                  data-toggle="tooltip"
                  title="Code Repository"
                >
                  <a href="{{ project.github }}">
                    <i class="fa-brands fa-github gh-icon"></i>
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
